page-login {
    @function makelongshadow($length,$angle) {
        $val: 0px 0px transparent;
        @for $i from 1 through $length {
            $val: #{$val}, #{$i}px #{$i*$angle}px #aaa;
        }
        @return $val;
    }

    @import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

    body {
        background: radial-gradient(#fff, #aaa);
        background-size: 100vw 100vh;
        overflow: hidden;
        padding-top: 40vh;
    }

    .txt {
        text-align: center;
        font-family: 'Roboto';
        font-size: 10vmin;
        font-weight: 700;
        outline: none;
        white-space: nowrap;
        //border: 1px solid #222;
        text-shadow: makelongshadow(50,1.5);
        color:#f3f3f3;
        transform: scale(1.5, 1.5);
    }

    .txt:not(:focus) {
        animation: netflix_style 3.5s;
    }

        @keyframes netflix_style {
        0% {
            text-shadow: makelongshadow(100,1);
            color:#f3f3f3;
            transform: scale(1.5, 1.5);
        }
        20% {
            text-shadow: makelongshadow(100,1.5);
            color:#f3f3f3;
            transform: scale(1.5, 1.5);
        }
        50% {
            color:#f3f3f3;
        }
        75% {
            color:#e90418;
            text-shadow: none;
            transform: scale(1.1, 1.1);
        }
        85% {
            opacity: 1;
        }
        //80% {
        //    opacity: 0;
        //    color:#e90418;
        //    transform: scale(0.85, 0.9);
        //}

        100% {
            text-shadow: makelongshadow(50,1.5);
            color:#f3f3f3;
            transform: scale(1.5, 1.5);
        }
    }
}
